# Copy this file to .env.web and ddev restart to use the latest database.
MTK_HOSTNAME=mtk
MTK_DATABASE=db
MTK_USERNAME=db
MTK_PASSWORD=db
DDEV_MTK_DOCKER_IMAGE=ghcr.io/pfrilling/pfrill.ing/database:latest
DDEV_MTK_HOST_PORT=3306
